@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-100: #242ef4;
  --color-primary-200: #1127a8;
  --color-primary-300: #010e54;
  --color-secondary-100: #05ffff;
  --color-secondary-200: #6da7f7;
  --color-secondary-300: #3388ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: 'Montserrat'; */
  --font-sans: 'Montserrat' var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .button-primary {
    @apply bg-primary-100 text-white py-[7px] px-2.5 text-sm rounded-lg border border-gray-200 hover:bg-primary-200 disabled:opacity-50;
  }
  .section {
    @apply p-5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100 200;
  src: url('../fonts/Montserrat-Light.ttf') format('ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200 700;
  src: url('../fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500 700;
  src: url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700 900;
  src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200 500;
  src: url('../fonts/Montserrat-Italic.ttf') format('ttf');
}

body {
  background: var(--foreground);
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sans);
}

h1 {
  @apply text-4xl font-bold text-gray-900 mb-4;
}

h2 {
  @apply text-3xl font-bold text-gray-900;
}

h3 {
  @apply text-lg md:text-xl text-gray-600 font-normal max-w-2xl;
}

h4 {
  @apply text-2xl font-bold text-gray-900;
}
